.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;

  bottom: 0;
  height: 87px;
  width: 96%;
  background-color: #282828;
  color: white;
  padding: 20px;
}

.left {
  flex: 0.3;
  display: flex;
  align-items: center;
  width: 300px;
}
.center {
  flex: 0.4;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
}
.right {
  flex: 0.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info > h4 {
  margin-bottom: 5px;
}

.info > p {
  font-size: 12px;
}

.icon:hover {
  transition: transform, 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.colored {
  color: #f7ff56;
}

.albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}
